<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +212.6.61.64.85.79</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> said.tahiiri&#64;gmail.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> {{ 0 | currency}}</a></li>
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/img/logoo.png" alt=""> 
              <!-- <i class="fa-solid fa-home"></i> Jurassic Treasure Tahiri -->
            </a>
          </div>
        </div>
        <!-- /LOGO    -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">All Categories</option>
                <option value="1">Category 01</option>
                <option value="2">Category 02</option>
              </select>
              <input class="input" placeholder="Search here">
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 ">
          <div class="header-ctn ">
            <!-- Wishlist -->
            <div class="">
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">10</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" aria-expanded="true" style="cursor: pointer;">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">{{this.cartData.data[0].numInCart !== 0 ? this.cartData.data.length : 0 }}</div>
              </a>
              <div class="cart-dropdown" aria-labelledby="dropdownMenuButton">
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !==0">
                  <div *ngFor="let c of cartData.data ; let i=index">
                    <div class="product-widget"  >
                      <div class="product-img product-img-navigate">
                        <img [src]="c.product.image" [alt]="c.product.Name" width="20px" (click)="selectProduct(c.product.id)">
                      </div>
                      <div class="product-body product-img-navigate">
                        <h3 class="product-name"><a (click)="selectProduct(c.product.id)" >{{c.product.Name}}</a></h3>
                        <h4 class="product-price" (click)="selectProduct(c.product.id)"><span class="qty">  </span>{{ c.numInCart}} x {{c.product.price | currency}} =   {{c.numInCart*c.product.price | currency}}  </h4>
                      </div>
                      <button class="delete" (click)="this.carteService.deleteProductFromCart(i)"><i class="fa fa-close"></i></button>
                    </div>
                  </div>
                 
                </div>
                <div class="cart-summary">
                  <small> {{this.cartData.data[0].numInCart !== 0 ? this.cartData.data.length : 0 }} Item(s) selected</small>
                  <h5>TOTAL : {{cartTotal | currency}} </h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-2">
        <li><a routerLinkActive="active" class="text-muted" routerLink='/'>Home</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink='/newarrivals'>New Arrivals</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/fossils">Fossils</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/minerals">Minerals</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/meteorites">Meteorites</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/faq">FAQ</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/aboutus">About us</a></li>
        <li><a routerLinkActive="active" class="text-muted" routerLink="/contactus">Contact Us</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->