<h1 class=" text-center my-4 fw-bolder fs-1 text    text-center mb-4 pb-2 text-primary fw-bold">Frequently asked questions</h1>

<!--Section: FAQ-->
<div class="container">
    
<section>
    <!-- <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3> -->
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <i class="fas fa-gem fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i>
        <h6 class="mb-3 text-primary text-center"> What products do you offer in your online store?</h6>
        <p>
          We specialize in providing a diverse range of fossils, meteorites, and minerals.
           Our collection includes rare specimens from various geological eras and locations.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <i class="fas fa-certificate fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i>
        <h6 class="mb-3 text-primary text-center">Are your fossils, meteorites, and minerals authentic?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> 
           We take pride in offering only genuine and authenticated items.
           Each product is thoroughly examined by experts to ensure its authenticity.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-globe-americas fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> 
          Do you provide information about the origin of the specimens?
        </h6>
        <p>
          Yes, we strive to provide detailed information about the origin, geological significance, 
          and age of each fossil, meteorite, and mineral. You can find this information on the product pages.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-box fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> 
          How are the items packaged for shipping?
        </h6>
        <p>
          We take great care in packaging our items to ensure their safe delivery. 
          Fossils, meteorites, and minerals are securely wrapped and cushioned to prevent any damage during transit.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-credit-card fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> What payment methods do you accept?
        </h6>
        <p>We accept major credit cards, debit cards, and PayPal for a secure and convenient 
          shopping experience.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-globe fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> Do you offer international shipping?</h6>
        <p>
          Yes, we provide international shipping. Shipping costs and delivery times may vary depending on the destination.
           Please check our shipping information for more details.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-undo fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> What is your return policy?</h6>
        <p>
          We have a hassle-free return policy.
           If you are not satisfied with your purchase, you can return the item within 10 days of receiving it.
           Please review our Returns and Exchanges page for more details.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-truck fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> How can I track my order?</h6>
        <p>
          Once your order is shipped, you will receive a confirmation email with a tracking number.
           You can use this number to track your package through our website or the shipping carrier's website.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-graduation-cap fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> Are your products suitable for educational purposes?</h6>
        <p>
          Yes, many of our items are excellent for educational purposes. 
          Contact us for information about educational discounts or special requests for educational institutions.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-users fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> Do you offer wholesale pricing for resellers?</h6>
        <p>
          Yes, we do offer wholesale pricing for qualified resellers.
           Please reach out to our Wholesale Team for more information.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-envelope fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> How can I contact your customer support?</h6>
        <p>
          For any questions or concerns,
           you can reach our customer support team via our Contact Us page.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary text-center"><i class="fas fa-store fa-4x text-primary pe-2 d-flex align-items-center justify-content-around my-4"></i> Do you have a physical store I can visit?</h6>
        <p>
          Currently, we operate exclusively online. However, we strive to provide a comprehensive online shopping 
          experience with detailed product information and excellent customer service.
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->

</div>